@{
    ViewData["Title"] = "Recovery code verification";
    Layout = "/Areas/Auth/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Pagina = "login-page";
}



<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="/" class="h1"><b>@Constantes.MyFinancefy</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Você solicitou o login com um código de recuperação. Este login não será lembrado até que você forneça
     um código de aplicativo autenticador ao fazer login ou desative o 2FA e faça login novamente.</p>
            <form method="post" asp-route-returnUrl="@TempData["returnUrl"]">
                <input type="hidden" name="ReturnUrl" value="@TempData["returnUrl"]" />
                
                <label name="RecoveryCode" class="form-label"></label>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="input-group mb-3">
                    <input name="RecoveryCode" class="form-control" placeholder="Codigo" autocomplete="off" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-id-card"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>

            </form>
            
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}