@model SignUpModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Areas/Auth/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Pagina = "register-page";
}

@Html.AntiForgeryToken()

<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="/" class="h1">@Constantes.MyFinancefy</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Registre-se</p>

            <form asp-route-returnUrl="@TempData["returnUrl"]" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>                
                
                <span asp-validation-for="FullName" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="FullName" class="form-control" placeholder="Nome Completo">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Retype password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="AgreeTerms" class="text-danger"></span>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input asp-for="AgreeTerms" id="agreeTerms" >
                            <label for="agreeTerms">
                                Aceitar os <a href="#">termos</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Cadastrar com Facebook
                </a>
            </div>

            <a asp-action="Login" class="text-center">Eu já tenho uma conta!</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->
